:root {
    --color-primario: #0D609F;
    --color-primario-luz1: #2E71A5;
    --color-primario-luz2: #508BB8;
    --color-primario-luz3: #98C8ED;
    --color-primario-sombra1: #084A7C;
    --color-primario-sombra2: #053961;
    --color-primario-sombra3: #022B49;
    --color-secundario: #89E3E3;
    --color-secundario-luz1: #BDF4F4;
    --color-secundario-luz2: #D3FFFF;
    --color-secundario-luz3: #E2FFFF;
    --color-secundario-sombra1: #009797;
    --color-secundario-sombra2: #007575;
    --color-secundario-sombra3: #014B4B;
    --color-acento: #FA7800;
    --color-acento-luz1: #FF8C22;
    --color-acento-luz2: #FFA552;
    --color-acento-luz3: #FFA552;
    --color-acento-sombra1: #C65F00;
    --color-acento-sombra2: #9A4A00;
    --color-acento-sombra3: #793A00;
    --color-blanco: #ffffff;
}

body {
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    width: 45%;
    margin: 50px;
    color: white;
    background-color: var(--color-primario-sombra2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.login .divisor {
    font-size: x-large;
    margin: 15px;
}

.login p a {
    color: var(--color-acento);
    font-weight: bolder;
    cursor: pointer;
}

#login-character1, #login-character2 {
    position: absolute;
    width: 239px;
    height: 243px;
}

#login-character1 {
    left: 50em;
    bottom: -8em;
}
#login-character2 {
    left: 15em;
    top: 3em;
}

.login .tit {
    font-size: xx-large;
    margin-bottom: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.social-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: black;
}

.social-btn img {
    width: 19.6px;
    height: 20px;
    margin-right: 12px;
}

.social-btn:hover {
    transform: scale(1.10);
}

.login input {
    border: 2px solid transparent;
    height: 41px;
    width: 90%;
    border-radius: 5px;
    color: grey;
}

.submit-btn {
    border-radius: 10px;
    width: 104px;
    height: 43px;
    font-size: larger;
    font-weight: bolder;
    background-color: white;
    color: var(--color-acento);
    border: 5px solid var(--color-acento);
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 30px;
}  
.submit-btn:hover {
    background: var(--color-acento);
    color: white;
    font-size: 1.5em;
}
  


@media only screen and (min-width: 1440px) {
    #login-character1{
        bottom: 20em;
        left: 70em;
    }

    #login-character2{
        left: 23em;
    }
}   