@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --color-primario: #0D609F;
    --color-primario-luz1: #2E71A5;
    --color-primario-luz2: #508BB8;
    --color-primario-luz3: #98C8ED;
    --color-primario-sombra1: #084A7C;
    --color-primario-sombra2: #053961;
    --color-primario-sombra3: #022B49;
    --color-secundario: #89E3E3;
    --color-secundario-luz1: #BDF4F4;
    --color-secundario-luz2: #D3FFFF;
    --color-secundario-luz3: #E2FFFF;
    --color-secundario-sombra1: #009797;
    --color-secundario-sombra2: #007575;
    --color-secundario-sombra3: #014B4B;
    --color-acento: #FA7800;
    --color-acento-luz1: #FF8C22;
    --color-acento-luz2: #FFA552;
    --color-acento-luz3: #FFA552;
    --color-acento-sombra1: #C65F00;
    --color-acento-sombra2: #9A4A00;
    --color-acento-sombra3: #793A00;
}

* {
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color:white;
}

/*Comienza el header*/
header {
    display: flex;
    background-color: rgba(5, 57, 97, 1);
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    align-items: center;
    position: relative;
}

header img {
    padding: 10px;
    cursor: pointer;
}

.title {
    display: flex; 
    align-items: center;
}

.logo-carrito{
    cursor: pointer;
}

/*Comineza footer*/

footer {
    background-color: var(--color-primario-sombra3);
    width: 100%;
    height: 460;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

}

.container-cards-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card-footer {
    background-color: var(--color-primario-sombra2);
    width: 250px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.card-footer>img {
    position: absolute;
    width: 141.39px;
    height: 193.85px;
    top: 206px;
}

.img-left {
    left: -20px;
    transform: rotate(16.25deg);
}

.img-right {
    right: -20px;
    transform: rotate(-12.45deg);
}


footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    padding-top: 30px;
}

footer ul li a {
    color: white;
    padding: 5px 0px 5px 0px;
}

footer ul li a:hover {
    color: rgb(150, 150, 150);
    padding: 5px 0px 5px 0px;
}
.title-cards-footer {
    color: white;
    padding-top: 15px;
}

.text-cards-footer {
    color: white;
    padding: 20px 0px 20px 0px;
    line-height: 21px;
    margin:0px 10px;
}


.logos-redes-sociales {
    width: 40px;
    cursor: pointer;    
}

.container-section-copyrigth {
    text-align: center;
    color: white;
    line-height: 21px;
}
.text-cards-footer.email {
    display: block; 
    margin-top: 10px; 
}

.container-menu-hamburguesa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index:3000; 
    width: 346px;
    height: 1027px;
    background-color: var(--color-primario-sombra3);
    align-items: center;
    text-align: center;
}

.container-menu-hamburguesa>div{
    margin-bottom: 40px;
}

.container-cruz-menu-hamburguesa{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 10px;

}
.icono-cruz-menu-hamburguesa{
    width: 40px;
    height: 40px;
}

.container-informacion-usuario {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
    text-align: center; 
}

.imagen-usuario-logueado{
    width: 87px;
    height: 113px ;
}

.container-nombre-usuario{
    justify-content: center;
    align-content: center;
    text-align: left;
    padding-left: 5px;
}

.container-nombre-usuario>p{
    color: rgb(158, 158, 158);
}

.text-configurar-perfil{
    cursor: pointer;
}

.container-categorias {
    display: flex;
    justify-content: flex-start;
}

.container-categorias>ul>li>img{
    width: 30px;
    height: 42px;
}

.container-categorias ul {
    padding-left: 50px;
}

.container-categorias li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

.container-categorias li img {
    margin-right: 10px;
}

.container-redes-sociales-menu-hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-redes-sociales-menu-hamburguesa>img{
    cursor: pointer;
}

.logo-redes-menu-hamburguesa{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.btn-clickeable:hover{
    cursor: pointer;
}

.container-line{
    border-bottom: 2px solid white;
    margin: 0px 20px;
}

.div-password {
    position: relative;
    width: 100%;
}

#ojo-password {
    position: absolute;
    right: 10px;
    top: 20%;
    left: 85%;
    width: 24px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    
    
      .card-footer {
        width: 45%;
        margin-bottom: 20px; 
      }
}
